/* @import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**//**.blade.php';
@source '../**//**.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */


:root {
    --white: #ffffff;
    --black: #000000;
    --main-color: #EE827D;
    --main-lighter: #f8b0ac;
    --main-for-checkbox: #d66660;
    --body-color:#FFF9E2;
    --bc-stronger: #ffe57b;
    --bc-much-stronger: #fdd949;
    --tagged: #BA0009;
    --not-tagged: hsla(357, 100%, 36%, 0.165);
    --p-tagged: #ed8c03;
    --p-not-tagged: hsla(35, 100%, 48%, 0.165);
    --light-dark: #767676;
    --public-txta-bg: light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    --public-txta-color: light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
    --success-message: #4dcb4d;
    --error: #d20a0a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.html-1 { font-size: 75%; }
.html-2 { font-size: 87.5%; }
.html-3 { font-size: 100%; }
.html-4 { font-size: 125%; }
.html-5 { font-size: 150%; }

body, input, select, button {
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.font-1 { font-family: Arial, Helvetica, sans-serif; }
.font-2 { font-family: Verdana, Geneva, Tahoma, sans-serif; }
.font-3 { font-family: "Roboto", Arial, Helvetica, sans-serif; }
.font-4 { font-family: 'Times New Roman', Times, serif; }
.font-5 { font-family: Georgia, 'Times New Roman', Times, serif; }
.font-6 { font-family: "EB Garamond", Georgia, 'Times New Roman', serif; }
.font-7 { font-family: "Poppins", 'Roboto', Arial, Helvetica, sans-serif; }
.font-8 { font-family: "Work Sans", 'Roboto', Arial, Helvetica, sans-serif; }
.font-9 { font-family: "Quicksand", "Roboto", Arial, Helvetica, sans-serif; }
.font-10 { font-family: monospace; }
.font-11 { font-family: 'Courier New', Courier, monospace; }
.font-12 { font-family: "Caveat", "Dancing Script", cursive, sans-serif; }
.font-13 { font-family: "Patrick Hand", "Caveat", "Dancing Script", sans-serif; }
.font-14 { font-family: "Dancing Script", "Caveat", "Patric Hand", cursive, sans-serif; }
.font-15 { font-family: "Gloria Hallelujah", "Caveat", "Patric Hand", cursive, sans-serif; }

.s-message {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: var(--success-message);
    color: var(--white);
    font-size: small;
}

.btn-def-unset {
    all: unset;
    cursor: pointer;
}

.auth-form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem auto;
}

li {
    all: unset;
    color: var(--black);
}

li a {
    all: unset;
    cursor: pointer;
    color: var(--main-color);
}

select {    
    background-color: var(--white);
    color: var(--black);
}

.bc-body-color {
    background-color: var(--body-color);
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    background-color: var(--white);
    z-index: 3;
}

.editor-def, .pub-editor {
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
    resize: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: var(--public-txta-bg);
    color: var(--public-txta-color);
}

.new-editor {
    overflow: auto;
    height: 11rem;
}

.set-h {
    height: 11rem;
}

.scroll-auto {
    overflow: auto;
}

.editor-abled {
    background-color: var(--white);
    color: var(--black);
}

.pub-editor {
    padding-right: 4rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.error-message {
    font-size: 0.7rem;
    color: var(--error);
    margin-left: 0.5rem;
}

.app-icon {
    height: 50px;
}

.opacity {
    opacity: 0.5;
}

.btn {
    border-radius: 0.5rem;
    border: 0.06rem solid var(--main-color);
    background-color: var(--white);
    color: var(--main-color);
    cursor: pointer;
}

.nav-btn {
    width: 10rem;
    height: 2.3rem;
    text-align: center;
    line-height: 2rem;
    text-decoration: none;
}

.auth-btn {
    height: 2rem;
    width: 11rem;
}


.small-btn {
    width: 2.7rem;
    height: 1.2rem;
    font-size: 0.7rem;
    border-radius: unset;
    border-color: var(--main-lighter);
    border-right: 0.03rem solid var(--white);
    cursor: auto;
}

.small-public-btn {
    width: 4rem;
    position: absolute;
    bottom: 0;
    right: 11.3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 0.06rem solid var(--main-color);
}

.new-public-btn {
    right: 6rem;
}

.medium-btn {
    width: 6rem;
    height: 2rem;
}

.large-btn {
    height: 2.5rem;
    width: 30rem;
    border-radius: 2rem;
    font-size: 1rem;
}

.nav-bar {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.max-w-80 {
    max-width: 80%;
}

.title {
    font-weight: normal;
}

.pt-large {
    padding-top: 6rem;
}

.pt-medium {
    padding-top: 5rem;
}

.pl-small {
    padding-left: 1rem;
}

.pl-smaller {
    padding-left: 0.5rem;
}

.ta-center {
    text-align: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap-small {
    gap: 1rem;
}

.input-def {
    width: 100%;
    height: 2.3rem;
    border-radius: 0.3rem;
    border: 0.06rem solid var(--bc-stronger);
    padding-left: 1rem;
}

.name-input {
    width: 27.7rem;
}

.user-icon-input-btn {
    width: 2.3rem;
    font-size: 0.7rem;
    background-color: var(--white);
    border: 0.06rem solid var(--bc-stronger);
    border-radius: 0.3rem;
    cursor: pointer;
}

.relative {
    position: relative;
}

.icon-list {
    width: 15.5rem;
    height: 15.5rem;
    position: absolute;
    background-color: var(--white);
    border: 0.06rem solid var(--bc-much-stronger);
    border-radius: 0.5rem;
    top: 2.3rem;
    left: 0;
    padding: 0.1rem;
    display: grid;
    grid-template-columns: repeat(7, 2rem);
    grid-template-rows: repeat(7, 2rem);
    gap: 0.2rem;
}

.heart {
    width: 0.9375rem;
    height: 0.9375rem;
}

.heart-big {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: -0.11875rem;
    margin-left: -0.19rem;
}

.heart-t-big {
    width: 1.375rem;
    height: 1.375rem;
    margin-left: -0.19rem;
}

.hug {
    width: 1.125rem;
    height: 1.125rem;
}

.hug-big {
    width: 2.0625rem;
    height: 2.0625rem;
}

.hug-t-big {
    width: 2.0625rem;
    height: 2.0625rem;
}

.facebook-img {
    width: 1.25rem;
    height: 1.25rem;
}

.google-img {
    width: 1.4375rem;
    height: 1.4375rem;
}

.inline-flex {
    display: inline-flex;
}

.flex {
    display: flex;
}

.gap-smallest {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.reset-def {
    text-decoration: none;
}

.font-small {
    font-size: 0.85rem;
}

.font-smaller {
    font-size: 0.7rem;
}

.txta-expanded {
    height: 18.3rem;
    overflow: auto;
}

.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto;
}

.ml-small {
    margin-left: 1rem;
}

.mr-smaller {
    margin-right: 0.5rem;
}

.mr-small {
    margin-right: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mtb-small {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mtb-smaller {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mtb-medium {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.ml-medium {
    margin-left: 2rem;
}

.search-input, .order-dropdown {
    width: 7.6rem;
    height: 1.3rem;
    border: 0.06rem solid var(--bc-much-stronger);
}

.order-dropdown {
    background-color: var(--white);
    color: var(--black);
}

.search-btn {
    width: 7.6rem;
    height: 1.3rem;
    background-color: var(--bc-stronger);
    color: var(--black);
    border-color: var(--bc-much-stronger);
}

.search-group {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 0.3rem;
    column-gap: 0.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.06rem solid var(--bc-much-stronger);
    
}

.bg-white {
    background-color: var(--white);
}

/* tagged */
.tag-t {
    width: 1.125rem;
    height: 1rem;
    background-color: var(--tagged);
}

.tag-l {
    border-left: 0.6rem solid var(--tagged);
    border-bottom: 1rem solid transparent;
}

.tag-r {
    border-right: 0.6rem solid var(--tagged);
    border-bottom: 1rem solid transparent;
    position: absolute;
    right: -0.003125rem;
    top: 1rem;
}

/* not tagged */
.not-tagged-t {
    background-color: var(--not-tagged);
}

.not-tagged-l {
    border-left-color: var(--not-tagged);
}

.not-tagged-r {
    border-right-color:var(--not-tagged);
}

/* public tagged */
.p-tagged-t {
    background-color: var(--p-tagged);
}

.p-tagged-l {
    border-left-color: var(--p-tagged);
}

.p-tagged-r {
    border-right-color:var(--p-tagged);
}

/* public not tagged */
.p-not-tagged-t {
    background-color: var(--p-not-tagged);
}

.p-not-tagged-l {
    border-left-color: var(--p-not-tagged);
}

.p-not-tagged-r {
    border-right-color:var(--p-not-tagged);
}

.txta-wrapper {
    position: relative;
    margin-bottom: 2rem;
}

.tag-wrapper, .p-tag-wrapper {
    all: unset;
    position: absolute;
    right: 2rem;
    cursor: pointer;
}

.border-r-set {
    border-right: 0.06rem solid var(--main-lighter);
}

.btn-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
}

.small-toolbar, .new-small-toolbar {
    position: absolute;
    right: 0;
    top: -1.55rem;
}

.small-toolbar .trix-button, .new-small-toolbar .trix-button{
    width: 1.5rem;
    height: 1.5rem;
}

.border-rb {
    border-radius: 0 0 0.25rem 0;
}

.border-lt {
    border-radius: 0.25rem 0 0 0;
}

.justify-end {
    justify-content: flex-end;
}

.width-max {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.icons-on-pub {
    position: absolute;
    right: 1.3125rem;
    bottom: 2rem;
}

.ml-minus-small {
    margin-left: -0.5rem;
}

.user-icon, .user-icon-profile, .icon-li {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.user-icon-profile {
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
}

.user-icon-profile { 
    top: 0.125rem;
    left: 0.125rem;
}

.search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 1rem; */
    padding: 0 0 2rem;
}

.sidebar-icon {
    width: 45px;
    height: 45px;
    background-color: var(--white);
    border-radius: 4.8px;
    border: 1.19px solid var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 4.8px 0;
    cursor: pointer;
}

.sidebar-icon-hide {
    display: none;
}

.sidebar-line {
    width: 20px;
    height: 1.15px;
    background-color: var(--main-color);
}


.sidebar {
    position: fixed;
    background-color: var(--white);
    top: 0;
    bottom: 0;
    right: -16rem;
    width: 16rem;
    height: 100dvh;
    border-left: 0.06rem solid var(--bc-stronger);
    transition: right 0.4s ease-in-out;
    z-index: 4;
}

.sidebar.open {
    right: 0;
}

.filter-icon {
    width: 1.25rem;
    height: 1.3rem;
    justify-content: space-evenly;
    padding: 0.15rem;
}

.filter-icon-line {
    height: 0.06rem;
    background-color: var(--black);
}

.line1 { width: 0.875rem; }
.line2 { width: 0.5625rem; }
.line3 { width: 0.25rem; }

.filter-btn {
    display: none;
    width: 7.6rem;
    height: 1.3rem;
    background-color: var(--bc-stronger);
    color: var(--black);
    border-color: var(--bc-much-stronger);
}

.filter-group {
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 0.5rem;
    position: absolute;
    top: 7.3rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 0.06rem solid var(--bc-much-stronger);
    z-index: 1;
}

.edit-icon, .edit-remove-icon {
    display: none;
    position: absolute;
    right: 0.5625rem;
    bottom: 0.125rem;
    width: 1.5rem;
    height: 1rem;
    background-color: var(--white);
    border: 0.06rem solid var(--light-dark);
    gap: 0.175rem;
    border-radius: 0.19rem;
}

.edit-remove-icon {
    display: none;
    right: 15.3rem;
    gap: 0.175rem;
    cursor: pointer;
}

.edit-remove-line {
    height: 0.06rem;
    width: 0.625rem;
    background-color: var(--light-dark);
}

.adjust-edit-remove {
    right: 10.8rem;
}

.dot {
    width: 0.09rem;
    height: 0.09rem;
    background-color: var(--light-dark);
    border-radius: 0.06rem;
}

.small-checkbox {
    accent-color: var(--main-for-checkbox);
}

.hidden-when-large {
    display: none;
}

.hover-effect:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--white);
    cursor: pointer;
}

.bg-main {
    background-color: var(--main-color);
    color: var(--white);
}

.color-main {
    color: var(--main-color)
}

.color-black {
    color: var(--black);
}

.color-white {
    color: var(--white);
}

.has-error {
    border-color: var(--error);
}

.information {
    width: auto;
    font-size: 0.8rem;
    position: fixed;
    background-color: #fee893ea;
    border: 2px dashed var(--bc-much-stronger);
    border-radius: 10px;
    padding: 0.5rem;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.guest-info {
    top: 1rem;
    bottom: unset;
}

@media (max-width: 1500px) {
    .nav-bar {
        gap: 0.3rem;
    }
    
    .nav-bar {
        display: none;
    }
    
    .sidebar-icon-hide {
        display: block;
    }
}

@media (max-width: 1250px) {
    .search-group {
        display: none;
    }
    
    .filter-btn {
        display: inline-flex;
        align-items: center;
    }
    
    .search-input {
        width: 10rem;
    }
    
    .search-btn {
        width: 10rem;
    }
    .hidden-when-large {
        display: block;
    }

}

@media (max-width: 870px) {

    .editor-def {
        padding: 0.5rem 3rem 0.5rem 1rem;
    }

    .pub-editor {
        padding: 0.5rem 2rem 0.5rem 1rem;
    }
    
    .edit-icon {
        display: flex;
    }

    .edit-remove-icon {
        display: block;
    }

    .mr-smaller {
        margin-right: 0.3rem;
    }
    
    .mr-small {
        margin-right: 0.3rem;
    }
    
    .auth-form {
    width: 25rem;
    }
    
    .name-input {
        width: 22.7rem;
    }
    
    .large-btn {
        width: 25rem;
    }

    .hidden-when-medium {
        display: none;
    }

    .tag-wrapper, .p-tag-wrapper {
        right: 1.1rem;
    }

    .icons-on-pub {
        right: 0.5rem;
    }

}

@media (max-width: 560px) {
    .max-w-80 {
        max-width: 95%;
    }

    .user-icon {
        top: 0.2rem;
        left: 0.2rem;
    }
}

@media (max-width: 480px) {

    .page-title {
        width: 5rem;
    }

    .header {
        padding: 0.5rem;
    }

    .editor-def {
        padding: 0.5rem 2rem 0.5rem 1rem;
    }

    .filter-group {
        top: 6.65rem;
    }

    .tag-wrapper, .p-tag-wrapper {
        right: 0.643rem;
    }

    .icons-on-pub {
        right: 0.25rem;
    }


    .heart-t-big {
        width: 1.125rem;
        height: 1.125rem;
    }

    .hug-t-big {
        width: 1.5625rem;
        height: 1.5625rem;
    }
 
    .heart-big {
        width: 1.1875rem;
        height: 1.1875rem;
        margin-bottom: -0.06rem;
    }

    .hug-big {
        width: 1.5625rem;
        height: 1.5625rem;
    }

    .auth-form {
        width: 20rem;
    }

    .name-input {
        width: 17.7rem;
    }
    
    .large-btn {
        width: 20rem;
    }

    .auth-btn {
        width: 8rem;
    }

    .pt-medium {
        padding-top: 4.35rem;
    }

    .mtb-medium {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .txta-expanded {
        height: 18rem;
    }

}

@media (max-width: 420px) {
    .small-toolbar {
        display: none;
    }

    .html-5 {
        font-size: 140%;
    }

    .mr-small {
        margin-right: 0;
    }

    .ml-small {
        margin-left: 0.5rem;
    }

    .page-title {
        display: none;
    }

    .max-w-80 {
        max-width: 100%;
    }

    .txta-wrapper {
        margin-bottom: 0.8rem;
    }
}

.hidden {
    display: none;
}