/* @import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**//**.blade.php';
@source '../**//**.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */


:root {
    --white: #ffffff;
    --black: #000000;
    --main-color: #EE827D;
    --main-lighter: #f8b0ac;
    --body-color:#FFF9E2;
    --bc-stronger: #ffe57b;
    --bc-much-stronger: #fdd949;
    --tagged: #BA0009;
    --not-tagged: hsla(357, 100%, 36%, 0.165);
    --p-tagged: #ed8c03;
    --p-not-tagged: hsla(35, 100%, 48%, 0.165);
    --light-dark: #767676;
    --public-txta-bg: light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    --public-txta-color: light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
    --success-message: #4dcb4d;
    --error: #d20a0a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.all-unset {
    all: unset;
}

.br-5 {
    border-radius: 5px;
}

.bg-success {
    background-color: var(--success-message);
}

.btn-def-unset {
    all: unset;
    cursor: pointer;
}

.auth-form-width {
    width: 30rem;
}

li {
    all: unset;
    color: var(--black);
}

li a {
    all: unset;
    cursor: pointer;
    color: var(--main-color);
}

.bc-body-color {
    background-color: var(--body-color);
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 5%;
    background-color: var(--white);
    z-index: 3;
}

.editor-def, .pub-editor {
    overflow: auto;
    width: 100%;
    height: 10rem;
    border-radius: 5px;
    resize: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: var(--public-txta-bg);
    color: var(--public-txta-color);
    /* font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal; */
}

.editor-abled {
    background-color: var(--white);
    color: var(--black);
}

.pub-editor {
    padding: 1rem 4.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.error-message {
    font-size: 0.7rem;
    color: var(--error);
    margin-left: 0.5rem;
}

.flex-row {
    flex-direction: row;
}

.icon {
    height: 3.4rem;
    margin-bottom: -4px;
}

.btn {
    height: 2.3rem;
    width: 8rem;
    border-radius: 8px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--white);
    cursor: pointer;
}

.nav-btn {
    background-color: var(--white);
    color: var(--main-color);
    width: 10rem;
}

.nav-bar {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.max-w-80 {
    max-width: 80%;
}

.title {
    font-weight: normal;
}

.p-all-medium {
    padding: 5rem 6rem;
}


.pt-large {
    padding-top: 6rem;
}

.pt-medium {
    padding-top: 5rem;
}

.pt-small {
    padding-top: 2rem;
}

.pb-medium {
    padding-bottom: 2rem;
}

.pb-small {
    padding-bottom: 1rem;
}

.pl-small {
    padding-left: 1rem;
}

.pl-smaller {
    padding-left: 0.5rem;
}

.pl-medium {
    padding-left: 5rem;
}

.pr-small {
    padding-right: 1rem;
}

.ta-center {
    text-align: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap-small {
    gap: 1rem;
}

.input-def {
    width: 100%;
    height: 2.3rem;
    border-radius: 5px;
    border: 1px solid var(--bc-stronger);
    padding-left: 1rem;
}

.name-input {
    width: 27.7rem;
}

.user-icon-input-btn {
    width: 2.3rem;
    font-size: 0.7rem;
    background-color: var(--white);
    border: 1px solid var(--bc-stronger);
    border-radius: 5px;
    cursor: pointer;
}

.relative {
    position: relative;
}

.icon-list {
    width: 15.5rem;
    height: 15.5rem;
    position: absolute;
    background-color: var(--white);
    border: 1px solid var(--bc-much-stronger);
    border-radius: 0.5rem;
    top: 2.3rem;
    left: 0;
    padding: 0.1rem;
    display: grid;
    grid-template-columns: repeat(7, 2rem);
    grid-template-rows: repeat(7, 2rem);
    gap: 0.2rem;
}

.primary-btn {
    background-color: var(--main-color);
    height: 2.5rem;
    width: 30rem;
    border-radius: 2rem;
    border: none;
    color: white;
    font-size: large;
}

.heart {
    width: 15px;
    height: 15px;
}

.heart-big {
    width: 24px;
    height: 24px;
    margin-bottom: -1.9px;
}

.heart-t-big {
    width: 22px;
    height: 22px;
}

.hug {
    width: 18px;
    height: 18px;
}

.hug-big {
    width: 33px;
    height: 33px;
}

.hug-t-big {
    width: 33px;
    height: 33px;
}

.facebook-img {
    width: 20px;
    height: 20px;
}

.google-img {
    width: 23px;
    height: 23px;
}

.auth-btn {
    height: 2.3rem;
    background-color: var(--white);
    width: 11rem;
    border: 1px solid var(--main-color);
}

.inline-flex {
    display: inline-flex;
}

.flex {
    display: flex;
}

.gap-smallest {
    gap: 0.5rem;
}
.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.justify-center {
    justify-content: center;
}


.align-center {
    align-items: center;
}

.reset-def {
    text-decoration: none;
}

.font-small {
    font-size: 0.85rem;
}

.font-smaller {
    font-size: 0.7rem;
}


.txta-new {
    height: 30rem;
}

.block {
    display: block;
}

.w-80 {
    width: 80%;
}

.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto;
}

.ml-small {
    margin-left: 1rem;
}

.mr-smaller {
    margin-right: 0.5rem;
}

.mr-small {
    margin-right: 1rem;
}

.mtb-small {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mtb-smaller {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.ml-medium {
    margin-left: 2rem;
}

.m-zero {
    margin: 0;
    padding: 0;
}

.search-input, .order-dropdown {
    width: 7.6rem;
    height: 1.3rem;
    border: 1px solid var(--bc-much-stronger);
}

.order-dropdown {
    background-color: var(--white);
    color: var(--black);
}

.search-btn {
    width: 7.6rem;
    height: 1.3rem;
    background-color: var(--bc-stronger);
    color: var(--black);
    border-color: var(--bc-much-stronger);
}

.search-group {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 0.3rem;
    column-gap: 0.3rem;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--bc-much-stronger);
    
}

.bg-white {
    background-color: var(--white);
    /* color: var(--main-color); */
}


/* tagged */
.tag-t {
    width: 1.125rem;
    height: 1rem;
    background-color: var(--tagged);
}

.tag-l {
    border-left: 0.6rem solid var(--tagged);
    border-bottom: 1rem solid transparent;
}

.tag-r {
    border-right: 0.6rem solid var(--tagged);
    border-bottom: 1rem solid transparent;
    position: absolute;
    right: -0.05px;
    top: 1rem;
}

/* not tagged */
.not-tagged-t {
    background-color: var(--not-tagged);
}

.not-tagged-l {
    border-left-color: var(--not-tagged);
}

.not-tagged-r {
    border-right-color:var(--not-tagged);
}

/* public tagged */
.p-tagged-t {
    background-color: var(--p-tagged);
}

.p-tagged-l {
    border-left-color: var(--p-tagged);
}

.p-tagged-r {
    border-right-color:var(--p-tagged);
}

/* public not tagged */
.p-not-tagged-t {
    background-color: var(--p-not-tagged);
}

.p-not-tagged-l {
    border-left-color: var(--p-not-tagged);
}

.p-not-tagged-r {
    border-right-color:var(--p-not-tagged);
}

.txta-wrapper {
    position: relative;
    flex: 1;
}

.tag-wrapper, .p-tag-wrapper {
    all: unset;
    position: absolute;
    right: 2rem;
    cursor: pointer;
}

.small-btn {
    width: 2.7rem;
    height: 1.2rem;
    font-size: 0.7rem;
    border-radius: unset;
    background-color: var(--white);
    /* color: var(--main-color); */
    border: 1px solid var(--main-lighter);
    border-right: 0.5px solid var(--white);
    color: var(--main-color);
    cursor: auto;
}

.small-checkbox-label {
    width: 4rem;
}

.border-r-set {
    border-right: 1px solid var(--main-lighter);
}

.absolute-in-txta {
    position: absolute;
    bottom: 5.5px;
    right: 1px;
}

.btn-wrapper, .add-btn-for-new, .public-label {
    position: absolute;
    bottom: 0;
    right: 0;
}

.public-label {
    right:11rem;
}

.border-lt {
  border-radius: 5px 0 0 0;
}

.border-rb {
    border-radius: 0 0 4px 0;
}

.border-lt-rb {
    border-radius: 5px 0 4px;
}

.border-r-unset {
    border-right: none;
}

.justify-end{
    justify-content: flex-end;
}

.width-max {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.width-small {
    width: 8rem;
}

.width-medium {
    width: 13rem;
}

.ver-al {
    vertical-align: -1px;
}

.icons-on-pub {
    position: absolute;
    right: calc(1rem + 5px);
    top: 4rem;
}

.ml-minus-smaller {
    margin-left: -3px;
}

.ml-minus-small {
    margin-left: -0.5rem;
}

.user-icon, .user-icon-profile, .icon-li {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.user-icon, .user-icon-profile {
    position: absolute;
    top: 10px;
    left: 10px;
}

.user-icon-profile { 
    top: 2px;
    left: 2px;
}

.user-name {
    position: absolute;
    top: 3rem;
    left: 5px;
}

.bc-main {
    background-color: var(--main-color);
}

.c-white {
    color: var(--white);
}

.search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.sidebar-icon {
    width: 2.8rem;
    height: 2.8rem;
    background-color: var(--white);
    border-radius: 5px;
    border: 1.8px solid var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
}

.sidebar-icon-hide {
    display: none;
}

.sidebar-line {
    width: 1.25rem;
    height: 1.5px;
    background-color: var(--main-color);
}


.sidebar {
    position: fixed;
    background-color: var(--white);
    top: 0;
    bottom: 0;
    right: -250px;
    width: 250px;
    height: 100dvh;
    border-left: 1px solid var(--bc-stronger);
    transition: right 0.4s ease-in-out;
    z-index: 4;
}

.sidebar.open {
    right: 0px;
}

.filter-icon {
    width: 20px;
    height: 1.3rem;
    justify-content: space-evenly;
    padding: 2.5px;
}

.filter-icon-line1 {
    width: 14px;
    height: 1px;
    background-color: var(--black);
}

.filter-icon-line2 {
    width: 9px;
    height: 1px;
    background-color: var(--black);
}

.filter-icon-line3 {
    width: 4px;
    height: 1px;
    background-color: var(--black);
}

.filter-btn {
    display: none;
    /* height: 20.8px; */
    width: 7.6rem;
    height: 1.3rem;
    background-color: var(--bc-stronger);
    color: var(--black);
    border-color: var(--bc-much-stronger);
}


.filter-group {
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 0.5rem;
    position: absolute;
    top: 8.4rem;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--bc-much-stronger);
    z-index: 1;
}

.edit-icon, .edit-remove-icon {
    display: none;
    position: absolute;
    right: 9px;
    bottom: 2px;
    width: 1.5rem;
    height: 1rem;
    background-color: var(--white);
    border: 1px solid var(--light-dark);
    gap: 2.8px;
    border-radius: 3px;
}

.edit-remove-icon {
    display: none;
    right: 15.3rem;
    gap: 2.8px;
    cursor: pointer;
}

.edit-remove-line {
    height: 1px;
    width: 10px;
    background-color: var(--light-dark);
}

.adjust-edit-remove {
    right: 10.8rem;
}

.dot {
    width: 1.5px;
    height: 1.5px;
    background-color: var(--light-dark);
    border-radius: 1px;
}

.small-checkbox {
    accent-color: var(--white);
}

.hidden-when-large {
    display: none;
}

.hidden {
    display: none;
}

/* .bg-main {
    background-color: var(--main-color);
    color: var(--white);
} */

.hover-effect:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--white);
    cursor: pointer;
}

.flex-start {
    align-self: flex-start;
}

.color-main {
    color: var(--main-color)
}

.color-black {
    color: var(--black);
}

.color-white {
    color: var(--white);
}

.align-end {
    align-self: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.medium-btn {
    width: 6rem;
    height: 2rem;
}

.has-error {
    border-color: var(--error);
}

@media (max-width: 1250px) {

.width-medium {
    width: 122px;
}

/* .search-btn {
    width: 122px;
} */

.nav-bar {
    gap: 0.3rem;
}

.nav-bar {
    display: none;
}

.sidebar-icon-hide {
    display: block;
}

.pt-small {
    padding-top: 1rem;
}

}

@media (max-width: 870px) {
    .search-group {
        display: none;
    }

    .filter-btn {
        display: inline-flex;
        align-items: center;
    }

    .search-input {
        width: 10rem;
    }

    .search-btn {
        width: 10rem;
    }

    .editor-def {
        padding: 0.5rem 3rem 0.5rem 1rem;
    }

    .pub-editor {
        padding: 0.5rem 4rem;
    }
    
    .edit-icon {
        display: flex;
    }

    .edit-remove-icon {
        display: block;
    }

    .mr-smaller {
        margin-right: 0.3rem;
    }
    
    .mr-small {
        margin-right: 0.3rem;
    }
    
    .auth-form-width {
        width: 25rem;
    }
    
    .name-input {
        width: 22.7rem;
    }
    
    .primary-btn {
        width: 25rem;
    }
    
    .s-btn {
        width: 5rem;
    }
    
    .page-title {
        width: 5rem;
    }

    .hidden-when-large {
        display: block;
    }

    .hidden-when-medium {
        display: none;
    }

    
}

@media (max-width:480px) {
    html {
        font-size: 14px; 
    }

    .editor-def {
        padding: 0.5rem 2rem 0.5rem 1rem;
    }

    .pub-editor {
        padding: 0.5rem 4rem;
    }

    .filter-group {
        top: 7.4rem;
    }

    .tag-wrapper, .p-tag-wrapper {
        right: 9px;
    }

    .icons-on-pub {
        right: 4px;
    }


    .heart-t-big {
        width: 18px;
        height: 18px;
    }

    .hug-t-big {
        width: 25px;
        height: 25px;
    }
 
    .heart-big {
        width: 19px;
        height: 19px;
        margin-bottom: -1px;
    }

    .hug-big {
        width: 25px;
        height: 25px;
    }

    .pl-medium {
        padding-left: 4.25rem;
    }

    .max-w-80 {
        max-width: 95%;
    }

    .auth-form-width {
        width: 20rem;
    }

    .name-input {
        width: 17.7rem;
    }
    
    .primary-btn {
        width: 20rem;
    }

    .auth-btn {
        width: 8rem;
    }

    .pt-medium {
        padding-top: 4rem;
    }

    .txta-new {
        height: 18rem;
    }

}
